* {
    background-color:  #f0f2f5;

 }
 
 .header-class {
     font-family: Arial, sans-serif;
     text-align: center;
     color: white;
     padding: 10px;
     background-color: #4CAF50; /* Green */
     
 }
 h1 {
    margin: 25px;
    }

.main-class {
    display: flex;
    justify-content: space-around;
}
form {
    width: 30%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.footer-class {
    text-align: center;
    font-size: small;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: bold;
    }

p {
    line-height: 1.6em;
    margin: .4em 0;
    color:  #7a7a7a;
}

.quicklinks {
    float: right;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    height: inherit;
    margin:  0;

}

